<!-- Display title of page in titlebar and include required stylesheets -->
<head>
     <meta charset="utf-8" />
     <title>@ViewData["Title"]</title>
     <link rel="stylesheet" href="~/css/site.css" />
</head>

<!-- Display body of page -->
@RenderBody()