@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<!-- Display error heading -->
<h2><b>An error has occurred</b></h2>

<!-- Display message that experiment already exists and link to return to list of experiments -->
<div class="text">
     The experiment you are trying to add already exists.
     <br/><br/>
     <a href="javascript:history.back()">Go Back</a>
</div>