@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<!-- Display error heading -->
<h2><b>An error has occurred</b></h2>

<!-- Display message that experiment has incomplete questions and link to return to list of experiments -->
<div class="text">
     The experiment has incomplete questions. Please ensure all questions have been provided. 
     <br/><br/>
     <a href="javascript:history.back()">Go Back</a>
</div>