@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<!-- Display success heading -->
<h2><b>Responses Submitted</b></h2>

<!-- Display thank you message and link to return to list of experiments -->
<div class="text">
     Thank you for answering the questions. Your responses have been submitted.
     <br/><br/>
     @Html.ActionLink("Return to Experiments", "ListExperiments", "Experiments")
</div>